<?php
/**
 * VideoPublishApi
 * PHP version 5
 *
 * @category Class
 * @package  Douyin\Open
 * @author   抖音小开
 */

/**
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 */
/**
 * NOTE: 由抖音小开自动生成，请勿修改
 */

namespace Douyin\Open\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Douyin\Open\ApiException;
use Douyin\Open\Configuration;
use Douyin\Open\HeaderSelector;
use Douyin\Open\ObjectSerializer;

/**
 * VideoPublishApi Class Doc Comment
 *
 * @category Class
 * @package  Douyin\Open
 * @author   抖音小开
 */
class VideoPublishApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation videoCreatePost
     *
     * 创建抖音视频
     *
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     * @param  \Douyin\Open\Model\VideoCreateBody $body body (optional)
     *
     * @throws \Douyin\Open\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Douyin\Open\Model\VideoCreateResponse
     */
    public function videoCreatePost($open_id, $access_token, $body = null)
    {
        list($response) = $this->videoCreatePostWithHttpInfo($open_id, $access_token, $body);
        return $response;
    }

    /**
     * Operation videoCreatePostWithHttpInfo
     *
     * 创建抖音视频
     *
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     * @param  \Douyin\Open\Model\VideoCreateBody $body (optional)
     *
     * @throws \Douyin\Open\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Douyin\Open\Model\VideoCreateResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function videoCreatePostWithHttpInfo($open_id, $access_token, $body = null)
    {
        $returnType = '\Douyin\Open\Model\VideoCreateResponse';
        $request = $this->videoCreatePostRequest($open_id, $access_token, $body);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string','integer','bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Douyin\Open\Model\VideoCreateResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Create request for operation 'videoCreatePost'
     *
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     * @param  \Douyin\Open\Model\VideoCreateBody $body (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function videoCreatePostRequest($open_id, $access_token, $body = null)
    {
        // verify the required parameter 'open_id' is set
        if ($open_id === null || (is_array($open_id) && count($open_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $open_id when calling videoCreatePost'
            );
        }
        // verify the required parameter 'access_token' is set
        if ($access_token === null || (is_array($access_token) && count($access_token) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $access_token when calling videoCreatePost'
            );
        }

        $resourcePath = '/video/create/';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($open_id !== null) {
            $queryParams['open_id'] = ObjectSerializer::toQueryValue($open_id);
        }
        // query params
        if ($access_token !== null) {
            $queryParams['access_token'] = ObjectSerializer::toQueryValue($access_token);
        }


        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                ['application/json']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation videoPartCompletePost
     *
     * 完成上传
     *
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     * @param  string $upload_id 分片上传的标记。有限时间为2小时。 (required)
     *
     * @throws \Douyin\Open\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Douyin\Open\Model\VideoPartCompleteResponse
     */
    public function videoPartCompletePost($open_id, $access_token, $upload_id)
    {
        list($response) = $this->videoPartCompletePostWithHttpInfo($open_id, $access_token, $upload_id);
        return $response;
    }

    /**
     * Operation videoPartCompletePostWithHttpInfo
     *
     * 完成上传
     *
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     * @param  string $upload_id 分片上传的标记。有限时间为2小时。 (required)
     *
     * @throws \Douyin\Open\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Douyin\Open\Model\VideoPartCompleteResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function videoPartCompletePostWithHttpInfo($open_id, $access_token, $upload_id)
    {
        $returnType = '\Douyin\Open\Model\VideoPartCompleteResponse';
        $request = $this->videoPartCompletePostRequest($open_id, $access_token, $upload_id);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string','integer','bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Douyin\Open\Model\VideoPartCompleteResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Create request for operation 'videoPartCompletePost'
     *
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     * @param  string $upload_id 分片上传的标记。有限时间为2小时。 (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function videoPartCompletePostRequest($open_id, $access_token, $upload_id)
    {
        // verify the required parameter 'open_id' is set
        if ($open_id === null || (is_array($open_id) && count($open_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $open_id when calling videoPartCompletePost'
            );
        }
        // verify the required parameter 'access_token' is set
        if ($access_token === null || (is_array($access_token) && count($access_token) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $access_token when calling videoPartCompletePost'
            );
        }
        // verify the required parameter 'upload_id' is set
        if ($upload_id === null || (is_array($upload_id) && count($upload_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $upload_id when calling videoPartCompletePost'
            );
        }

        $resourcePath = '/video/part/complete/';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($open_id !== null) {
            $queryParams['open_id'] = ObjectSerializer::toQueryValue($open_id);
        }
        // query params
        if ($access_token !== null) {
            $queryParams['access_token'] = ObjectSerializer::toQueryValue($access_token);
        }
        // query params
        if ($upload_id !== null) {
            $queryParams['upload_id'] = ObjectSerializer::toQueryValue($upload_id);
        }


        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation videoPartInitPost
     *
     * 初始化上传
     *
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     *
     * @throws \Douyin\Open\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Douyin\Open\Model\VideoPartInitResponse
     */
    public function videoPartInitPost($open_id, $access_token)
    {
        list($response) = $this->videoPartInitPostWithHttpInfo($open_id, $access_token);
        return $response;
    }

    /**
     * Operation videoPartInitPostWithHttpInfo
     *
     * 初始化上传
     *
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     *
     * @throws \Douyin\Open\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Douyin\Open\Model\VideoPartInitResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function videoPartInitPostWithHttpInfo($open_id, $access_token)
    {
        $returnType = '\Douyin\Open\Model\VideoPartInitResponse';
        $request = $this->videoPartInitPostRequest($open_id, $access_token);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string','integer','bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Douyin\Open\Model\VideoPartInitResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Create request for operation 'videoPartInitPost'
     *
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function videoPartInitPostRequest($open_id, $access_token)
    {
        // verify the required parameter 'open_id' is set
        if ($open_id === null || (is_array($open_id) && count($open_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $open_id when calling videoPartInitPost'
            );
        }
        // verify the required parameter 'access_token' is set
        if ($access_token === null || (is_array($access_token) && count($access_token) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $access_token when calling videoPartInitPost'
            );
        }

        $resourcePath = '/video/part/init/';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($open_id !== null) {
            $queryParams['open_id'] = ObjectSerializer::toQueryValue($open_id);
        }
        // query params
        if ($access_token !== null) {
            $queryParams['access_token'] = ObjectSerializer::toQueryValue($access_token);
        }


        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation videoPartUploadPost
     *
     * 上传视频分片到文件服务器
     *
     * @param  string $video video (required)
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     * @param  string $upload_id 分片上传的标记。有限时间为2小时。 (required)
     * @param  int $part_number 第几个分片，从1开始 (required)
     *
     * @throws \Douyin\Open\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Douyin\Open\Model\VideoPartUploadResponse
     */
    public function videoPartUploadPost($video, $open_id, $access_token, $upload_id, $part_number)
    {
        list($response) = $this->videoPartUploadPostWithHttpInfo($video, $open_id, $access_token, $upload_id, $part_number);
        return $response;
    }

    /**
     * Operation videoPartUploadPostWithHttpInfo
     *
     * 上传视频分片到文件服务器
     *
     * @param  string $video (required)
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     * @param  string $upload_id 分片上传的标记。有限时间为2小时。 (required)
     * @param  int $part_number 第几个分片，从1开始 (required)
     *
     * @throws \Douyin\Open\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Douyin\Open\Model\VideoPartUploadResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function videoPartUploadPostWithHttpInfo($video, $open_id, $access_token, $upload_id, $part_number)
    {
        $returnType = '\Douyin\Open\Model\VideoPartUploadResponse';
        $request = $this->videoPartUploadPostRequest($video, $open_id, $access_token, $upload_id, $part_number);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string','integer','bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Douyin\Open\Model\VideoPartUploadResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Create request for operation 'videoPartUploadPost'
     *
     * @param  string $video (required)
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     * @param  string $upload_id 分片上传的标记。有限时间为2小时。 (required)
     * @param  int $part_number 第几个分片，从1开始 (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function videoPartUploadPostRequest($video, $open_id, $access_token, $upload_id, $part_number)
    {
        // verify the required parameter 'video' is set
        if ($video === null || (is_array($video) && count($video) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $video when calling videoPartUploadPost'
            );
        }
        // verify the required parameter 'open_id' is set
        if ($open_id === null || (is_array($open_id) && count($open_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $open_id when calling videoPartUploadPost'
            );
        }
        // verify the required parameter 'access_token' is set
        if ($access_token === null || (is_array($access_token) && count($access_token) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $access_token when calling videoPartUploadPost'
            );
        }
        // verify the required parameter 'upload_id' is set
        if ($upload_id === null || (is_array($upload_id) && count($upload_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $upload_id when calling videoPartUploadPost'
            );
        }
        // verify the required parameter 'part_number' is set
        if ($part_number === null || (is_array($part_number) && count($part_number) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $part_number when calling videoPartUploadPost'
            );
        }

        $resourcePath = '/video/part/upload/';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($open_id !== null) {
            $queryParams['open_id'] = ObjectSerializer::toQueryValue($open_id);
        }
        // query params
        if ($access_token !== null) {
            $queryParams['access_token'] = ObjectSerializer::toQueryValue($access_token);
        }
        // query params
        if ($upload_id !== null) {
            $queryParams['upload_id'] = ObjectSerializer::toQueryValue($upload_id);
        }
        // query params
        if ($part_number !== null) {
            $queryParams['part_number'] = ObjectSerializer::toQueryValue($part_number);
        }


        // form params
        if ($video !== null) {
            $multipart = true;
            $formParams['video'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($video), 'rb');
        }
        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                ['multipart/form-data']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation videoUploadPost
     *
     * 上传视频到文件服务器
     *
     * @param  string $video video (required)
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     *
     * @throws \Douyin\Open\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Douyin\Open\Model\VideoUploadResponse
     */
    public function videoUploadPost($video, $open_id, $access_token)
    {
        list($response) = $this->videoUploadPostWithHttpInfo($video, $open_id, $access_token);
        return $response;
    }

    /**
     * Operation videoUploadPostWithHttpInfo
     *
     * 上传视频到文件服务器
     *
     * @param  string $video (required)
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     *
     * @throws \Douyin\Open\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Douyin\Open\Model\VideoUploadResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function videoUploadPostWithHttpInfo($video, $open_id, $access_token)
    {
        $returnType = '\Douyin\Open\Model\VideoUploadResponse';
        $request = $this->videoUploadPostRequest($video, $open_id, $access_token);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if (!in_array($returnType, ['string','integer','bool'])) {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Douyin\Open\Model\VideoUploadResponse',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Create request for operation 'videoUploadPost'
     *
     * @param  string $video (required)
     * @param  string $open_id 通过/oauth/access_token/获取，用户唯一标志 (required)
     * @param  string $access_token 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function videoUploadPostRequest($video, $open_id, $access_token)
    {
        // verify the required parameter 'video' is set
        if ($video === null || (is_array($video) && count($video) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $video when calling videoUploadPost'
            );
        }
        // verify the required parameter 'open_id' is set
        if ($open_id === null || (is_array($open_id) && count($open_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $open_id when calling videoUploadPost'
            );
        }
        // verify the required parameter 'access_token' is set
        if ($access_token === null || (is_array($access_token) && count($access_token) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $access_token when calling videoUploadPost'
            );
        }

        $resourcePath = '/video/upload/';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($open_id !== null) {
            $queryParams['open_id'] = ObjectSerializer::toQueryValue($open_id);
        }
        // query params
        if ($access_token !== null) {
            $queryParams['access_token'] = ObjectSerializer::toQueryValue($access_token);
        }


        // form params
        if ($video !== null) {
            $multipart = true;
            $formParams['video'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($video), 'rb');
        }
        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                ['multipart/form-data']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }
}
